<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<link href="style.css" rel="stylesheet">

</head>
<body>

	<div class="bandeau-sup">
		<h1>Sport - Finder</h1>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div th:insert="recherche :: recherche"></div>
		</div>
		<div class="col-md-9">
			<div th:insert="carte :: carte"></div>
			<div th:insert="actions :: actions"></div>
		</div>
	</div>
	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
	<script type="text/javascript" src="/gestionMap.js"></script>
	<script type="text/javascript" src="/gestionContent.js"></script>
</body>
</html>